<% if @stock %>
  <div class="card card-header results-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Name: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.last_price %>
      <% if current_user.can_track_stock?(@stock.ticker) %>
        <%= form_with url: user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post, local: false do %>
          <%= submit_tag "Add to portfolio", class: "btn btn-success" %>
        <% end %>
      <% else %>
        <span class="badge badge-secondary stock-message">
          <%= stock_tracking_message(current_user, @stock) %>
        </span>
      <% end %>
  </div>
<% elsif alert %>
  <div class="alert alert-warning results-block">
    <%= alert %>
  </div>
<% elsif notice %>
  <div class="alert alert-success results-block">
    <%= notice %>
  </div>
<% end %>